/*
Colors used

Dark Gray Color (darkgray): #333333;
Gray Color (gray): #767676;
Light Gray Color (lightgray): D8D8D8;

Darl Blue Color (darkblue): #377FC2;
Blue Color (blue): #9ACBED;
Light Blue Color (lightblur): #E8F6FC;

Fonts used

font-family: 'Montserrat', sans-serif;

Montserrat Light (light):300;
Montserrat Light italic (italic):300i;
Montserrat Medium (medium):500;
Montserrat Bold (bold):700;
 */

html{
	max-width: 1650px;
	margin:auto;
	font-size: 62.5%
}

body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 1.4rem;
	margin-right: 10%;
	margin-left: 10%;
}

nav {
	font-weight:500;
}

footer {
	margin: 0 auto;
	padding-top: 2rem;
}

div { 
  display: inline-block;
}

p {
	font-size: 1.6rem;
	letter-spacing: .1rem;
	line-height: 2.5rem;
}


/*Headings*/
h1 {
	font-size: 2.4rem;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

h2 {

}

h5 {
	font-size: 1.6rem;
}
/*End Headings*/

/*Global Nav Bar*/
.logo {
	margin: auto;
	height: 2rem;
	padding-top: 4rem;
	padding-bottom: 4%;
	padding-left: 0rem;
}

ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin: auto;
    padding-left: 0;
}

li {
	display: inline-block;
	padding-top: 4rem;
	padding-bottom: 1.25%;
	padding-right: 2rem;
	font-size: 1.8rem;
	letter-spacing: .1rem;
}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #333333;
}

.onpage {
	color: #333333;
}

.paddingright {
	padding-right: 0rem;
}
/*End Global Nav*/

/*Components towards the bottom of the page*/
/*footer icons*/
.social {
	max-height: 2.5rem;
	padding-left: 4rem;
	padding-bottom: 4rem;
	padding-top: 10rem;
	align-content: center;
}

/*footer alignment to center*/
.center {
	text-align: center;
	padding-top: 4rem;
}

.centernav li {
	padding-top: 1.25%;
}

/*Centers the nav on ux/ui and designs pages towards the bottom of the page*/
.centernav {
	width: 100%;
	padding-left: 0em;
	text-align: center;
}

.full {
	max-width: 100%;
	max-height: 100%;
	padding-right:0em;
	padding-left: 0em;
	margin-left: 0em;
	margin-right: 0em;
}
/*End of bottom of page components*/

/*This includes styling for the contact page*/
/*Profile Pic*/
.pic {
	max-height: 40rem;
	margin-bottom: 4rem;
	margin-right: 4rem;
	margin-left: auto;
}

/*Block of text align*/
.center {
	width: 100%;
	vertical-align: top;
	margin-top: 5rem;
}

.contact {
	vertical-align: top;
	text-align: left;
}

.light {
	font-weight:300;
	margin-top:0rem;
	margin-bottom:0rem; 
}

.button {
	border-style: solid;
	border-color: #333333;
	border-radius: 4px;
	border-width: 1px;
	color: #333333;
	font-size: 1.6rem;
	padding: .5em;
}

.button:hover {
	border-style: solid;
	border-color: #333333;
	background-color: #333333;
	border-radius: 4px;
	border-width: 1px;
	color: #ffffff;
	padding: .5em;
}

div.spacer {
	height: 7rem;
	width: 0px;
	padding: 0px;
	margin: 0px;
	background-color: black;
}
/*End of styling for contact page*/

.contactcenter {
	text-align: center;
	padding-top: 4rem;
}

.halfwidthL {
	max-width: 47.5%;
	max-height: auto;
	margin-right: 2%;
	margin-bottom: 4%;
	padding-left: 0em;
	vertical-align: top;
}

.halfwidthR {
	max-width: 47.5%;
	max-height: auto;
	margin-left: 2%;
	margin-bottom: 4%;
	padding-left: 0em;
	vertical-align: top;
}

/*2 on the left 1 on the right... can't figure this out*/
.stack {
	max-width: 40%;
	margin-right: .5%;
}

.top {
	display: inline-block;
	max-width: 	100%;
	max-height: auto;
	margin-right: .5%;
	margin-bottom: 1%;
}

.test {
	display: inline-block;
	max-width: 40%;
	max-height: auto;
	margin-left:.5%;
	padding-left: 0em;
}
/*end on 2 on left 1 on right*/

.halfcenter {
	max-height: 50%;
	width: 50%;
	margin-left:0em;
	padding-left: 0em;
}
/*for ux/ui and designs full width*/
.full {
	max-width: 100%;
	max-height: auto;
	padding-right:0;
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4%;
}

/*recruiting page last image full width*/
.fullit {
	width: 100%;
	height: auto;
	margin-top: .5em;
	margin-bottom: 2em;
}

.btmspace {
	margin-bottom: 3em;
}

.space {
	margin-bottom: .5em;
	margin-top: 1em;
}

/* Issues
1. (top row with two images) How do I set a parent div to resize left to right and the child 
image to stay the same size while staying centered to the parent as it resizes?

2. (second row single image full width) How do I get the image to be centered vertically and 
horizantilly while resizing as its parent element resizes with browser resize? 

3. How do I set the images to always cover the vertical space? Set a min height? I am having issues 
with the image with a orange color mainly. Hoping that the answer to the first question will fix this.

Also how do I set different styling for lets say desktop or mobile?? @media?? Any articles or videos 
would be really appreciated!!
*/

/*Alexis will you please review this styling section*/
.loverflow {
	box-sizing: border-box;
	width: 48%;
	height:50rem;
	float: left;
	overflow-y: hidden; 
	overflow-x: hidden;
	text-align: center;
	position: relative;
}

.roverflow {
	box-sizing: border-box;
	width: 48%;
	height:50rem;
	margin-left: 4%;
	margin-bottom: 4%;
	float: left;
	overflow-y: hidden; 
	overflow-x: hidden;
	text-align: center;
	position: relative;
}

.hiddenhalf {
    height: 100%;
    left: -7rem;
    position: relative;
    vertical-align: top;
    text-align: center;
}

div:hover .hiddenhalf {
	opacity: .2;
}

.fulloverflow {
	box-sizing: border-box;
	width: 100%;
	height:45rem;
	margin-bottom: 4%; 
	float: left;
	overflow-y: hidden; 
	overflow-x: hidden;
	text-align: center;
	position: relative;
}

.hidden {
    box-sizing: border-box;
    min-height: 45rem;
	transform: translateY(-30%);
    width: 100%;
}

div:hover .hidden {
	opacity: .2;
}

.title {
	color:black;
	position: relative;
	top: 50%;
	opacity: 0;
	font-size: 4.5rem;
}

div:hover .title {
	opacity: 1;

}

.hide {
	margin: auto;
	padding: auto;
}

/*End of question section*/

@media all and (max-width: 850px) {
    body {
        background-color: white;
    }

    .halfwidthL {
    	display: block;
    	max-width: 100%;
    	margin-right: 0;
    }

    .halfwidthR {
    	display: block;
   		max-width: 100%;
   		margin-left: 0;
   }

   .logo {
   		display: flex;
   		justify-content: center;
   		height: 1.75rem; 
   }

   nav ul,
   nav li {
   		display: flex;
   		justify-content: space-between;
   		float: none;
   		padding-top: 1rem;
   		padding-bottom: 4%;
   }

   .centernav li {
   		display: flex;
   		justify-content: center;
   		margin-top: 2%;
   		margin-bottom: 2%; 
   }

   .contactcenter,
   .contactcenter img {
   		padding-top: 0;
   		margin-right: 0;
   }
}

